svg#freepik_stories-profiling:not(.animated) .animable {
    opacity: 0;
}

svg#freepik_stories-profiling.animated #freepik--Floor--inject-221 {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) slideRight;
    animation-delay: 0s;
}

svg#freepik_stories-profiling.animated #freepik--Shadows--inject-221 {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) slideRight;
    animation-delay: 0s;
}

svg#freepik_stories-profiling.animated #freepik--Boxes--inject-221 {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) lightSpeedRight;
    animation-delay: 0s;
}

svg#freepik_stories-profiling.animated #freepik--Gears--inject-221 {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) slideUp;
    animation-delay: 0s;
}

svg#freepik_stories-profiling.animated #freepik--Device--inject-221 {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) slideRight;
    animation-delay: 0s;
}

svg#freepik_stories-profiling.animated #freepik--Plant--inject-221 {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) fadeIn;
    animation-delay: 0s;
}

svg#freepik_stories-profiling.animated #freepik--Screen--inject-221 {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) lightSpeedRight;
    animation-delay: 0s;
}

svg#freepik_stories-profiling.animated #freepik--resume--inject-221 {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) lightSpeedLeft;
    animation-delay: 0s;
}

svg#freepik_stories-profiling.animated #freepik--speech-bubbles--inject-221 {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) slideLeft,1.5s Infinite linear floating;
    animation-delay: 0s,1s;
}

svg#freepik_stories-profiling.animated #freepik--Icons--inject-221 {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomOut,1.5s Infinite linear wind;
    animation-delay: 0s,1s;
}

svg#freepik_stories-profiling.animated #freepik--magnifying-glass--inject-221 {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomOut,1.5s Infinite linear wind;
    animation-delay: 0s,1s;
}

svg#freepik_stories-profiling.animated #freepik--character--inject-221 {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomOut;
    animation-delay: 0s;
}

@keyframes slideRight {
    0% {
        opacity: 0;
        transform: translateX(30px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes lightSpeedRight {
    from {
        transform: translate3d(50%, 0, 0) skewX(-20deg);
        opacity: 0;
    }

    60% {
        transform: skewX(10deg);
        opacity: 1;
    }

    80% {
        transform: skewX(-2deg);
    }

    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

@keyframes slideUp {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }

    100% {
        opacity: 1;
        transform: inherit;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes lightSpeedLeft {
    from {
        transform: translate3d(-50%, 0, 0) skewX(20deg);
        opacity: 0;
    }

    60% {
        transform: skewX(-10deg);
        opacity: 1;
    }

    80% {
        transform: skewX(2deg);
    }

    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

@keyframes slideLeft {
    0% {
        opacity: 0;
        transform: translateX(-30px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes floating {
    0% {
        opacity: 1;
        transform: translateY(0px);
    }

    50% {
        transform: translateY(-10px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

@keyframes zoomOut {
    0% {
        opacity: 0;
        transform: scale(1.5);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes wind {
    0% {
        transform: rotate( 0deg );
    }

    25% {
        transform: rotate( 1deg );
    }

    75% {
        transform: rotate( -1deg );
    }
}

