@model nxLINEadmin.Model.SettingViewModel
@{
    ViewData["Title"] = "設定";
}
@section Css {

    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.4.2/css/all.css">
    <link rel="stylesheet" href="~/assets/vendor/daterangepicker/daterangepicker.css" type="text/css" />
    <link rel="stylesheet" href="~/css/custom.css" type="text/css" />
    <link href="~/css/bootstrap-tagsinput.css"
          rel="stylesheet" />
    <style type="text/css">
        .bootstrap-tagsinput .tag {
            margin-right: 2px;
            color: white !important;
            background-color: #0d6efd;
            padding: 0.2rem;
        }

        .bootstrap-tagsinput {
            width: 100%;
            margin-bottom: 0.75rem;
            padding: 0.45rem;
        }

        table.dataTable thead > tr > th.sorting {
            text-align: center !important;
        }
        .text-center {
            text-align: center;
        }

        .text-right {
            text-align: right;
        }
    </style>
}
<div class="row my-2">
    @if (ViewBag.errorType == "error")
    {
        <div class="alert alert-danger alert-dismissible text-bg-danger border-0 fade show" role="alert" id="alert-show">
            <button type="button" class="btn-close btn-close-white" data-bs-dismiss="alert" aria-label="Close"></button>
            @ViewBag.errorMsg
        </div>
    }

    @if (ViewBag.errorType == "success")
    {
        <div class="alert alert-success alert-dismissible text-bg-success border-0 fade show" role="alert" id="alert-show">
            <button type="button" class="btn-close btn-close-white" data-bs-dismiss="alert" aria-label="Close"></button>
            @ViewBag.errorMsg
        </div>
    }
</div>
<div class="mt-3 d-flex justify-content-between align-items-center">
    <h3 class="b-900 ml-2 mb-0"><i class="fa-solid fa-gear fa-lg text-main" aria-hidden="true"></i>&nbsp;会員登録設定</h3>
    <div class="d-flex justify-content-start align-items-center">
    </div>
</div>
<div class="container mt-3">
    <form asp-action="">
        <div class="row">
            <div class="col-md-4 col-sm-12 mx-0 pl-0">
                <div class="form-group mb-2">
                    <label for="">概要</label>
                    <textarea class="form-control" rows="4" name="user[register_form_overview]" id="overview"></textarea>
                </div>
                <label>登録フォーム</label>
                <br />
                <ul class="list-group">
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <div class="custom-control custom-checkbox">
                            <label class="custom-control-label" for="customCheck1">名前</label>
                        </div>
                        <div class="custom-control custom-switch">
                            <input type="checkbox" id="is_name" data-switch="primary" value="1">
                            <label data-on-label="必須" data-off-label="" for="is_name"></label>
                        </div>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <div class="custom-control custom-checkbox">
                            <label class="custom-control-label" for="customCheck11">名前（フリガナ）</label>
                        </div>
                        <div class="custom-control custom-switch">
                            <input type="checkbox" id="is_furigana" data-switch="primary" value="1">
                            <label data-on-label="必須" data-off-label="" for="is_furigana"></label>
                        </div>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <div class="custom-control custom-checkbox">
                            <label class="custom-control-label" for="customCheck2">電話番号</label>
                        </div>
                        <div class="custom-control custom-switch">
                            <input type="checkbox" id="is_tel" data-switch="primary" value="1">
                            <label data-on-label="必須" data-off-label="" for="is_tel"></label>
                        </div>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <div class="custom-control custom-checkbox">
                            <label class="custom-control-label" for="customCheck3">メールアドレス</label>
                        </div>
                        <div class="custom-control custom-switch">
                            <input type="checkbox" id="is_email" data-switch="primary" value="1">
                            <label data-on-label="必須" data-off-label="" for="is_email"></label>
                        </div>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <div class="custom-control custom-checkbox">
                            <label class="custom-control-label" for="customCheck4">生年月日</label>
                        </div>
                        <div class="custom-control custom-switch">
                            <input type="checkbox" id="is_birthday" data-switch="primary" value="1">
                            <label data-on-label="必須" data-off-label="" for="is_birthday"></label>
                        </div>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <div class="custom-control custom-checkbox">
                            <label class="custom-control-label" for="customCheck5">性別</label>
                        </div>
                        <div class="custom-control custom-switch">
                            <input type="checkbox" id="is_gender" data-switch="primary" value="1">
                            <label data-on-label="必須" data-off-label="" for="is_gender"></label>
                        </div>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <div class="custom-control custom-checkbox">
                            <label class="custom-control-label" for="customCheck5">住所</label>
                        </div>
                        <div class="custom-control custom-switch">
                            <input type="checkbox" id="is_address" data-switch="primary" value="1">
                            <label data-on-label="必須" data-off-label="" for="is_address"></label>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="col-md-8 col-sm-12">
                <label>追加回答フォーム</label><br>
                <button type="button" class="btn btn-info add-card mt-2"><i class="mdi mdi-plus me-1"></i> <span>追加</span> </button>
            </div>
        </div>
        <hr />
        <button type="button" class="btn btn-primary" id="saveBtn">保存</button>
    </form>
    <form asp-action="ConfigSave" asp-controller="setting" id="sendForm">
        <input value="@Model.Account.LineaccountId" name="line_account_id" type="hidden" />
        <input value="@Model.Account.ProfileSetting" name="profile_setting" id="profile_setting" type="hidden" />
    </form>
</div>

@section Scripts {
    <script src="~/js/setting.js" ></script>
    <script>
        $(document).ready(function() {
            $.ajax({
                url: `https://localhost:7116/api/Members/get_setting`,
                type: 'GET',
                success: function(response) {
                    $('#is_name').prop('checked', response.member_reg_is_name);
                    $('#is_furigana').prop('checked', response.member_reg_is_furigana);
                    $('#is_tel').prop('checked', response.member_reg_is_tel);
                    $('#is_email').prop('checked', response.member_reg_is_email);
                    $('#is_birthday').prop('checked', response.member_reg_is_birthday);
                    $('#is_gender').prop('checked', response.member_reg_is_gender);
                    $('#is_address').prop('checked', response.member_reg_is_address);
                    $('#overview').html(response.overview);
                },
                error: function(xhr, status, error) {
                    alert('failed');
                }
            });
            saveBtn.onclick = () => {
                $.ajax({
                    url: `https://localhost:7116/api/Members/save_setting`,
                    type: 'GET',
                    data: {
                        'is_name': $('#is_name').is(":checked"),
                        'is_furigana': $('#is_furigana').is(":checked"),
                        'is_tel': $('#is_tel').is(":checked"),
                        'is_email': $('#is_email').is(":checked"),
                        'is_birthday': $('#is_birthday').is(":checked"),
                        'is_gender': $('#is_gender').is(":checked"),
                        'is_address': $('#is_address').is(":checked"),
                        'overview': 's' + $('#overview').val()
                    },
                    success: function(response) {
                        $.toast({
                            heading: '成功',
                            text: 'データは正常に保存されました。',
                            position: 'top-right',
                            showHideTransition: 'slide',
                            icon: 'success'
                        })
                    },
                    error: function(xhr, status, error) {
                        $.toast({
                            heading: '失敗',
                            text: 'データの保存に失敗しました。',
                            position: 'top-right',
                            showHideTransition: 'slide',
                            icon: 'error'
                        })
                    }
                });

            }
        });
    </script>
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
