@model nxLINEadmin.ViewModels.MemberViewModel
@{
    ViewData["Title"] = "顧客一覧";
}
@section Css {

    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.4.2/css/all.css">
    <link rel="stylesheet" href="~/assets/vendor/daterangepicker/daterangepicker.css" type="text/css" />
    <link rel="stylesheet" href="~/css/custom.css" type="text/css" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tagsinput/0.8.0/bootstrap-tagsinput.css"
          rel="stylesheet" />
}
<div class="my-4 d-flex justify-content-between align-items-center">
    <h3 class="b-900 ml-2 mb-0"><i class="fad fa-users text-main" aria-hidden="true"></i>&nbsp;顧客一覧</h3>
    <div class="d-flex justify-content-start align-items-center">
        <a id="csv_download" class="btn btn-gray btn-sm py-2 px-4 rounded-pill ms-2"><i class="fas fa-cloud-download-alt" aria-hidden="true"></i>&nbsp;&nbsp;LINE Idダウンロード</a>
    </div>
</div>

<div class="row mt-3">
    <div class="col-md-4">
        <div class="card mb-md-0 mb-3">
            <div class="card-body">
                <div class="mb-2 row">
                    <div class="col-md-3">
                        <label for="member_code" class="form-label">会員番号</label>
                    </div>
                    <div class="col-md-9">
                        <input type="text" id="member_code" class="form-control">
                    </div>
                </div>
                <div class="mb-2 row">
                    <div class="col-md-3 align-self-center">
                        <label for="member_name" class="form-label mb-0">名前</label>
                    </div>
                    <div class="col-md-9">
                        <input type="text" id="member_name" class="form-control">
                    </div>
                </div>
                <div class="mb-2 row">
                    <div class="col-md-3 align-self-center">
                        <label for="kana" class="form-label mb-0">カナ</label>
                    </div>
                    <div class="col-md-9">
                        <input type="text" id="kana" class="form-control">
                    </div>
                </div>
                <div class="mb-2 row">
                    <div class="col-md-3 align-self-center">
                        <label for="simpleinput" class="form-label mb-0">設年月日</label>
                    </div>
                    <div class="col-md-9">
                        <div class="row gy-2 gx-2 align-items-center">
                            <div class="col-4">
                                <div class="input-group mb-2">
                                    <input type="text" class="form-control" id="year">
                                    <div class="input-group-text">年</div>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="input-group mb-2">
                                    <input type="text" class="form-control" id="month">
                                    <div class="input-group-text">月</div>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="input-group mb-2">
                                    <input type="text" class="form-control" id="day">
                                    <div class="input-group-text">日</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mb-2 row">
                    <div class="col-md-3 align-self-center">
                        <label for="simpleinput" class="form-label mb-0">性別</label>
                    </div>
                    <div class="col-md-9">
                        <div class="row gy-2 gx-2 align-items-center">
                            <div class="col-auto">
                                <div class="form-check form-check-inline">
                                    <input type="checkbox" class="form-check-input" id="gender1">
                                    <label class="form-check-label" for="gender1">男</label>
                                </div>
                            </div>
                            <div class="col-auto">
                                <div class="form-check form-check-inline">
                                    <input type="checkbox" class="form-check-input" id="gender2">
                                    <label class="form-check-label" for="gender2">女</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mb-2 row">
                    <div class="col-md-3 align-self-center">
                        <label for="phone" class="form-label mb-0">電話番号</label>
                    </div>
                    <div class="col-md-9">
                        <input type="text" id="phone" class="form-control">
                    </div>
                </div>
                <div class="mb-2 row">
                    <div class="col-md-3 align-self-center">
                        <label for="email" class="form-label mb-0">メールアドレス</label>
                    </div>
                    <div class="col-md-9">
                        <input type="text" id="email" class="form-control">
                    </div>
                </div>
                <div class="mb-2 row">
                    <div class="col-md-3 align-self-center">
                        <label for="join_date" class="form-label mb-0">登録日</label>
                    </div>
                    <div class="col-md-9">
                        <input type="text" class="form-control date" id="join_date" value="" data-toggle="date-picker" data-cancel-class="btn-warning">
                    </div>
                </div>
                <div class="mb-2 row">
                    <div class="col-md-3 align-self-center">
                        <label for="point" class="form-label mb-0">ポイント</label>
                    </div>
                    <div class="col-md-4">
                        <input type="number" id="point_start" name="point" class="form-control">
                    </div>
                    <div class="col-md-1 align-self-center">
                        <label class="text-center"> ~ </label>
                    </div>
                    <div class="col-md-4">
                        <input type="number" id="point_end" name="point" class="form-control">
                    </div>
                </div>
                <div class="mb-2 row">
                    <div class="col-md-3 align-self-center">
                        <label for="tag_include" class="form-label mb-0">タグ(含む)</label><br />
                    </div>
                    <div class="col-md-9">
                        <input type="text" id="tag_include" data-role="tagsinput">
                    </div>
                </div>
                <div class="mb-2 row">
                    <div class="col-md-3 align-self-center">
                        <label for="tag_except" class="form-label mb-0">タグ(除く)</label><br />
                    </div>
                    <div class="col-md-9">
                        <input type="text" id="tag_except" data-role="tagsinput">
                    </div>
                </div>
                <div class="mb-2 text-right">
                    <button type="button" class="btn btn-outline-success rounded-pill" id="btn_search"><i class="mdi mdi-account-search"></i> 検索</button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-8">
        <div class="card mb-md-0 mb-3">
            <div class="card-body">
                <div class="row table-responsive">
                    <table class="table mb-0 data-table table-striped table-bordered" style="width: 100%">
                        <thead>
                            <tr style="background-color: #7b7b7b; color: white;">
                                <th scope="col" class="text-center"><input type="checkbox" id="table-all-check"></th>
                                <th scope="col" class="text-center">会員番号</th>
                                <th scope="col" class="text-center">名前</th>
                                <th scope="col" class="text-center">ランク</th>
                                <th scope="col" class="text-center">ポイント</th>
                                <th scope="col" class="text-center">登録日</th>
                                <th scope="col" class="text-center">LINEを送る</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/assets/vendor/daterangepicker/moment.min.js"></script>
    <script src="~/assets/vendor/daterangepicker/daterangepicker.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tagsinput/0.8.0/bootstrap-tagsinput.min.js"></script>
    <script>
        const locale_datetimepicker = {
            format: 'YYYY年MM月DD日',
            "daysOfWeek": [
                "日",
                "月",
                "火",
                "水",
                "木",
                "金",
                "土"
            ],
            "monthNames": [
                "1月",
                "2月",
                "3月",
                "4月",
                "5月",
                "6月",
                "7月",
                "8月",
                "9月",
                "10月",
                "11月",
                "12月"
            ],
            clear: "クリア"
        };
        $(function () {
            $('#join_date').daterangepicker({
                showDropdowns: false,
                locale: locale_datetimepicker
            });
        });
        var tbl_check = document.getElementById("table-all-check");
        tbl_check.onclick = () => {
            var row_checks = document.querySelectorAll(".card-body table .row-check")
            for (let i = 0; i < row_checks.length; i++) {
                row_checks[i].checked = tbl_check.checked;
            }
        }
        var table_data = [];
        var dataTable;
        $(document).ready(() => {
            let url = `https://localhost:7116/api/Members/search`
            join_date.value = ""
            fetch(url).then(res => res.json()).then(res => {
                if (res) {
                    table_data = res;
                    dataTable = $(".data-table").DataTable({
                        bPaginate: true,
                        bFilter: false,
                        bInfo: true,
                        bSortable: true,
                        bRetrieve: true,
                        aaSorting: [[1, 'asc']],
                        data: table_data,
                        columnDefs: [
                            { orderable: false, targets: 0 }
                        ],
                        columns: [
                            {
                                data: null, render: function (data, type, row) {
                                    return '<input type="checkbox" class="row-check" line-id="' + row.member_lineid + '" />';
                                }, className: "text-center"
                            },
                            { data: 'member_code', className: "text-center" },
                            {
                                data: null, render: function (data, type, row) {
                                    return row.member_lastname + " " + row.member_firstname;
                                }, className: "text-center"
                            },
                            { data: 'member_rank', className: "text-center" },
                            { data: 'member_hold_point', className: "text-center" },
                            {
                                data: null, render: function (data, type, row) {
                                    return formatDate(row.member_join_date);
                                }, className: "text-center"
                            },
                            {
                                data: null, render: function (data, type, row) {
                                    return '<i class="fa-2x fa-brands fa-line"></i>';
                                }, className: "text-center"
                            }
                        ],
                        iDisplayLength: 25
                    });
                }
            }).catch(e => {
                alert(e)
            })
        })
        csv_download.onclick = () => {
            let checked_rows = $('tbody > tr > td > input[type=checkbox]:checked');
            let lineIds = [];
            checked_rows.each(function() {
                lineIds.push($(this).attr('line-id'));
            });
            console.log('https://localhost:7116/api/Members/lineid_csv_download?' + $.param({lineIds: lineIds}, true));
            $.ajax({
                url: 'https://localhost:7116/api/Members/lineid_csv_download?' + $.param({lineIds: lineIds}, true),
                type: 'GET',
                success: function(response) {
                    let data = response;
                    let file = new Blob([data], { type: typeof response });
                    let downloadLink = document.createElement('a');

                    downloadLink.download = 'lineid.csv';
                    downloadLink.href = window.URL.createObjectURL(file);
                    downloadLink.style.display = 'none';

                    document.body.appendChild(downloadLink);
                    downloadLink.click();
                }
            });
        }
        btn_search.onclick = () => {
            var dateRangeString = $('#join_date').val();
            var dateArray = ["",""];
            if (dateRangeString != undefined && dateRangeString != "") {
                dateRangeString = dateRangeString.replaceAll("年", "-");
                dateRangeString = dateRangeString.replaceAll("月", "-");
                dateRangeString = dateRangeString.replaceAll("日", "");
                dateRangeString.replaceAll(" ", "");
                dateArray = dateRangeString.split(" - ");
            }

            gender = "";
            if(gender1.checked == true) {
                gender += "1,"
            }
            if (gender2.checked == true) {
                gender += "2,"
            }
            if (gender.endsWith(",")) {
                // Remove the last character using slice()
                gender = gender.slice(0, -1);
            }

            let url = `https://localhost:7116/api/Members/search?member_code=${member_code.value}
            &name=${member_name.value}&kana=${kana.value}&year=${year.value}&month=${month.value}&day=${day.value}
            &gender=${gender}&phone=${phone.value}&email=${email.value}&join_date_start=${dateArray[0]}
            &join_date_end=${dateArray[1]}&point_start=${point_start.value}&point_end=${point_end.value}
            &tag_include=${tag_include.value}&tag_except=${tag_except.value}`;
            fetch(url).then(res => res.json()).then(res => {
                table_data = res;
                dataTable.clear().rows.add(table_data).draw();
            }).catch(e => {
                alert(e)
            })
        }
        
        function formatDate(inputDateStr) {
            // Parse the input date string
            const inputDate = new Date(inputDateStr);

            // Get the year, month, and day components
            const year = inputDate.getFullYear();
            const month = inputDate.getMonth() + 1; // Months are zero-indexed
            const day = inputDate.getDate();

            // Format the date as "YYYY年MM月DD日"
            const formattedDate = `${year}年${month.toString().padStart(2, '0')}月${day.toString().padStart(2, '0')}日`;

            return formattedDate;
        }

    </script>
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
